<section
  class="vh-100 bg-image"
  style="
    background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');
  "
>
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>

              <form #form="ngForm" (ngSubmit)="register()">
                <div class="form-outline mb-4">
                  <input
                    required
                    #userName="ngModel"
                    minlength="5"
                    [(ngModel)]="model.userName"
                    placeholder="userName"
                    type="text"
                    name="userName"
                    class="form-control form-control-lg"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="userName.invalid && userName.touched"
                  >
                    <p *ngIf="userName.errors.required">username is required</p>
                    <p *ngIf="userName.errors.minlength">Min 5 character</p>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    required
                    #email="ngModel"
                    email
                    [(ngModel)]="model.email"
                    placeholder="email"
                    type="email"
                    name="email"
                    class="form-control form-control-lg"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="email.invalid && email.touched"
                  >
                    <p *ngIf="email.errors.required">email is required</p>
                  </div>
                </div>

                <div class="form-outline mb-4">
                  <input
                    required
                    #password="ngModel"
                    minlength="5"
                    [(ngModel)]="model.password"
                    placeholder="password"
                    type="password"
                    name="password"
                    class="form-control form-control-lg"
                  />
                  <div
                    class="alert alert-danger"
                    *ngIf="password.invalid && password.touched"
                  >
                    <p *ngIf="password.errors.required">password is required</p>
                    <p *ngIf="password.errors.minlength">Min 5 character</p>
                  </div>
                </div>

                <div class="d-flex justify-content-center">
                  <button
                    type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
                  >
                    Register
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
